

<mat-grid-list cols="6" rowHeight="4:1" class="minutiae">
  <mat-grid-tile class="id-tile">
    project ID
  </mat-grid-tile>
  <mat-grid-tile class="start-date-tile">
    Start Date
  </mat-grid-tile>
  <mat-grid-tile class="start-time-tile">
    Time to Start
  </mat-grid-tile>
  <mat-grid-tile class="end-date-tile">
    End Date
  </mat-grid-tile>
  <mat-grid-tile class="credits-tile">
    Credits
  </mat-grid-tile>
  <mat-grid-tile class="status-tile">
    Status
  </mat-grid-tile>
</mat-grid-list>

<div class="projects-div" *ngIf="this.projects.length > 0">
  <mat-grid-list cols="6" rowHeight="6:1" class="minutiae" *ngFor="let project of projects">
    <mat-grid-tile class="id-tile">
      {{project["id"]}}
    </mat-grid-tile>
    <mat-grid-tile class="start-date-tile">
      {{project["start_date"]}}
    </mat-grid-tile>
    <mat-grid-tile class="start-time-tile">
      {{project["time_to_start"]}}
    </mat-grid-tile>
    <mat-grid-tile class="end-date-tile">
      {{project["end_date"]}}
    </mat-grid-tile>
    <mat-grid-tile class="credits-tile">
      {{project["credits"]}}
    </mat-grid-tile>
    <mat-grid-tile class="status-tile">
      {{project["status"]}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
